<div class="users-list">
  <div class="users-list__cards">
    <ng-container *ngIf="users.length && !loading">
      <app-card *ngFor="let user of users" [user]="user"></app-card>
    </ng-container>

    <div
      class="users-list__cards__no-data-found"
      *ngIf="users.length == 0 && !loading"
    >
      <h5>No data found for keyword: '{{ usersFilter }}'</h5>
    </div>
  </div>
  <app-loading *ngIf="loading"></app-loading>
  <mat-paginator
    *ngIf="users.length > 1 && !loading"
    [length]="configPagination.total"
    [pageSize]="configPagination.per_page"
    aria-label="Select page"
    (page)="changePage($event)"
  >
  </mat-paginator>
</div>
